.card{
    /* width: 20rem; */
    /* box-shadow: 0 4px 8px 0 wheat; */
    /* max-width: 30rem; */
    /* min-height: 30rem; */
}

.grid{
    display: grid;
    gap: 1rem;
}

.grid-4-col{
    padding-left: 5rem;
    grid-template-columns: repeat(7,0fr);
}

.poster{
    height: 15rem;
    border: 7px solid white;
    border-radius: 10%;
}

/* .HideScroll{
    overflow: hidden;
    position: absolute;
} */

.list{
    padding-left: 5rem;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
}

.list::-webkit-scrollbar{
    display: none;
}

.rPoster{
    height: 12rem;
    border-radius: 10%;
}


h4{
    width: auto;
    max-width: 12rem;
    justify-content: start;
    color: white;
    font-size: 15px;
}

p{
    margin-top: -1.2rem;
    color: white;
    font-weight: lighter;
    font-size: 12px;
}

.MovieBanner{
    text-decoration: none;
}